# [기초 파이썬 프로그래밍] 복습 1차

In [1]:
print("Hello, text mining")

Hello, text mining

## 파이썬 자료형

In [2]:
score = 23 
print(score) 
type(score)  # 실수형

23

int

In [3]:
x = 1 
y = x > 0 

print(y) 
type(y) # bool 유형

True

bool

In [4]:
data = 1.5 
print(data)
type(data) # 실수형

1.5

float

In [5]:
name = 'Alice' 
print(name) 
type(name)

Alice

str

In [6]:
scores = [80, 90, 85, 93, 78] 
print(scores)
type(scores)  # list형

[80, 90, 85, 93, 78]

list

### 리스트 인덱싱

In [7]:
a = [1, 2, 3]

In [8]:
a[0]

1

In [9]:
a[0] + a[2]

4

In [10]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [11]:
a[-1]

['a', 'b', 'c']

In [12]:
a[3]

['a', 'b', 'c']

In [13]:
a[-1][0]

'a'

In [14]:
a[-1][2]

'c'

## 리스트의 슬라이싱

In [15]:
a = [1, 2, 3, 4, 5]

In [16]:
a[0:2]

[1, 2]

In [17]:
a = "12345"

In [18]:
a[0:2]

'12'

### 리스트의 수정과 삭제

In [19]:
a = [1, 2, 3]

In [20]:
a[2] = 4

a

[1, 2, 4]

In [21]:
del a[1]
a

[1, 4]

In [22]:
a = [1, 2, 3]

In [23]:
a.append(4)
a

[1, 2, 3, 4]

In [24]:
a.append([5,6])

In [25]:
data = (3,6,5,9) 
print(data) 
type(data) # 튜플형

(3, 6, 5, 9)

tuple

In [26]:
primes = {7,17,3,5,7,19} 
print(primes) 

type(primes) # set형

{17, 3, 19, 5, 7}

set

In [27]:
count = {1:35, 2:32, 3:30, 4:33}

print(count) 
type(count)  # dic 형

{1: 35, 2: 32, 3: 30, 4: 33}

dict

### 딕셔너리 쌍 추가하기

In [28]:
a = {1: 'a'}

a[1]

'a'

In [29]:
a[2] = 'b'  # dic은 인덱싱이 1부터 시작
a

{1: 'a', 2: 'b'}

In [30]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [31]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [32]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

먼저 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점을 주의해야 한다. 다음 예에서 볼 수 있듯이 동일한 Key가 2개 존재할 경우 1:'a'라는 쌍이 무시된다.

In [33]:
a = {1:'a', 1:'b'}

a

{1: 'b'}

Key에 리스트는 쓸 수 없다는 것이다. 하지만 튜플은 Key로 쓸 수 있다. 딕셔너리의 Key로 쓸 수 있느냐 없느냐는 Key가 변하는 값인지 변하지 않는 값인지에 달려 있다. 리스트는 그 값이 변할 수 있기 때문에 Key로 쓸 수 없는 것이다. 아래 예처럼 리스트를 Key로 설정하면 리스트를 키 값으로 사용할 수 없다는 오류가 발생한다.

In [34]:
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

In [35]:
a = {(1,2) : 'hi'}

## input() 함수

In [36]:
x = input('Enter one integer : ')

type(x)

Enter one integer : 4

str

In [37]:
x = int(input('Enter one integer : ')) 

type(x)

Enter one integer : 5

int

## 입출력문

In [38]:
print('hello world')

hello world

In [39]:
print('hello \
world')

hello world

In [40]:
print('*\nhello \nworld \n*')

*
hello
world
*

In [41]:
print('*\thello*\tworld \t*')

*	hello*	world 	*

## 조건문

In [42]:
score = int(input('성적을입력하시오: '))
if score >= 70  : 
    print('축하합니다') 
print('수고하셨습니다')

성적을입력하시오: 80
축하합니다
수고하셨습니다

In [ ]:
score = int(input('성적을입력하시오: '))
if score >= 90 : 
    grade = 'A' 
elif 80 <= score < 90 : 
    grade = 'B' 
elif 70 <= score < 80 :
    grade = 'C' 

else: grade = 'D'
print('당신의학점은', grade, '입니다.')

In [ ]:
score = int(input('성적을입력하시오: '))

if score >= 70 : 
    print('통과하셨습니다.') 
    if score >= 90 : 
        print('A장학금지급대상자입니다.') 

    elif score >= 80 : 
        print('B장학금지급대상자입니다.') 

elif score >= 60 : 
    print('조건부통과자입니다.') 

else: print('재수강대상자입니다.')
    
print('수고하셨습니다.')

## while 반복문

In [ ]:
a = 1 
sum = 0 

while a <= 10  :
    sum += a 
    a += 1 
    
print('sum :', sum)

In [ ]:
a = 1 
sum = 0 

while a <= 10 : 
    if a % 2 == 0  : 
        sum += a 
    a += 1 

print('sum :', sum)

## range() 함수

In [ ]:
list(range(5))

In [ ]:
list(range(5,10))

In [ ]:
list(range(10,1,-2))

## for 반복문

In [ ]:
for x in range(5): 
    print(x)

In [ ]:
for data in range(1,10,2): 
    print(data+1)

In [ ]:
for alpha in'sogang': 
    y = alpha.upper() 
    print(y)

In [ ]:
for alpha in'sogang': 
    y = alpha.upper() 
print(y)

## 사전형 자료와 for 반복문

In [ ]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

for x,y in score.items(): 
    print(x,y)

In [ ]:
for x in score.keys(): 
    print(x)

In [ ]:
for x in score.values(): 
    print(x)

## 예시 코드

In [ ]:
A = [10, 60, 30, 56, 90, 77, 89, 40, 70]

total = 0
n = 0
while A:  
    score = A.pop()     
    if score >= 60:
        n += 1
        total += score

avg = total/n
print("총합:", total)
print("평균:", avg)

In [ ]:
for x in range(10, 101, 10): 
    print(x, end=' ')

In [ ]:
for x in range(10, 0, -2): 
    print(x, end=' ')

In [ ]:
grade = {'A': 90, 'B': 80, 'C': 100, 'D': 60, "E":70}

score = []

for g in grade.values():
    score.append(g)
    
print('입력한 성적들 :', score) 
print('최고성적 :', max(score)) 
print('최저성적 :', min(score))
average = sum(score) / len(score)
print('평균: %.2f' % average)

In [ ]:
scores = [90, 60, 78, 55, 86]

number = 0 

for score in scores: 
    number = number +1 
    
    if score >= 70:
        print("%d번 학생 합격입니다. 축하합니다. " % number)
    
    else:
        print("%d번 학생 불합격입니다. 재시험을 보세요. " % number)

In [ ]:
"I eat %d apples." % 3   # 숫자 대입

In [ ]:
"I eat %s apples." % "five"    # 문자 대입. 문자열을 대입할 때는 앞에서 배웠던 것처럼 큰따옴표나 작은따옴표를 반드시 써주어야 한다.

### format 함수를 이용한 포매팅

In [ ]:
"I eat {} apples".format(3)             # {0}쓰나 안쓰나 똑같음

In [ ]:
"I eat {0} apples".format(3)

In [ ]:
"I eat {0} apples".format("five")

In [ ]:
number = 3
"I eat {0} apples".format(number)

In [ ]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

In [ ]:
## 사용자 정의함수

In [6]:
def find_max (a,b): 
    if a > b : 
        y = a 
    else : 
        y = b 

    return y


# main
m = find_max(10,20) # 10, 20 : 인수(arguments) 
n = find_max(7,3) # 7, 3 : 인수 (arguments) 

print(m,n)

20 7

In [ ]:
## 함수의 인수 값과 반환 값

In [9]:
def calculate(kor, eng, math): 
    total = kor+ eng+ math 
    average = total / 3
    
    return int(average)

# main 

kor_score= int(input('국어성적을입력하시오: ')) 
eng_score= int(input('영어성적을입력하시오: ')) 
math_score= int(input('수학성적을입력하시오: '))

avg= calculate(kor_score, eng_score, math_score) 

print('평균:', avg)

국어성적을입력하시오: 10
영어성적을입력하시오: 20
수학성적을입력하시오: 30
평균: 20